/* public style*/
*{
	margin:0;
	padding:0;
	overflow:inherit;
	box-sizing:border-box;
	font-family: 'lato';
}
p{
    font-size: 17px;
	text-align: left;
	overflow: hidden;	
	color: black;
}
footer{
	
	background-color: #ffffff;
	border-top: 1px solid rgb(232, 230, 230);
}
.footer-logo{  width:100%;}

.logo { width: 400px;}

#navbar_top {
		background-color:#ffffff;
		border-bottom: 1px solid rgb(232, 230, 230);
	}


#navbar_top  a{
		color:#025196;
		font-size: large;
		font-weight: bold;
	}
#navbar_top a.active {
		color: rgb(225, 91, 19);
		
	}
#navbar_top a:hover {
		color:rgb(105, 157, 201);

	}

/* end navbar section*/


/* index .html*/
.globe{
	animation: fadeInUp 2s ease;
}
.mainSection{
	animation: fadeRight 2s ease;
}
@keyframes fadeInUp{
  0%{
	opacity: 0;
	transform: translateY(50px);
  }
  100%{
	opacity: 1;
	transform: translateY(0px);
  }
}

@keyframes fadeRight{
  0%{
	opacity: 0;
	transform: translateX(-50px);
  }
  100%{
	opacity: 1;
	transform: translateX(0px);
  }
}
.mainSection p{
  color:black;
  font-size: 18px;
}
.mainSection .btn{
	text-align:center;
	display:inline-block;
	color:#333333;
	margin:5px 4px 5px 10px;
	padding:3px;
	border: 8px inset #56a4e8;
	text-decoration:none;
	font-weight: bold;
	}
.mainSection .btn:hover{
	border: 8px inset rgb(225, 91, 19);
	color:#333333;
	font-weight: bold;
	}
ul.a {
  list-style-type: circle;
  list-style-position: inside;
   color:black;
	  font-size: 18px;
  padding:0 2rem;

}

 /* logo and website*/
 .logoAndWebsite{
	width: 45%;
	margin: auto;
	box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
	padding:30px;
	border-radius: 10px;

  }

.logoAndWebsite p a{
	color: #025196;
}
.logoAndWebsite p a:hover{
	text-decoration: none;
}

.logoAndWebsite .socialMedia{
	display: flex; 
	font-size: 30px;
}

.logoAndWebsite .socialMedia a i{
	padding: 0px 5px;
	color: #025196;
	text-decoration: none;
   }

.logoAndWebsite .socialMedia a i:hover{
	color: rgb(225, 91, 19);
}


  


/* end index  html*/


/* start leadership .html style*/

.align-items-stretch{
	background-color: #ffffff;
	border-radius: 10px;
	padding:10px;
	box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.37);
  
  }
 #more1, #more2, #more3, #more4, #more5, #more6, #more7, #more8, #more9, #more10, #more11, #more12{
  display: none;
 } 

.row{
	margin-top: 20px;
}

.team .member{
	margin-bottom: 10px;
	overflow: hidden;
	
  }
  .team .member .member-img{
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 10px;
  }
  .team .member .member-info{
	padding: 25px 2px;
  }

  .team .member .member-info .btn{
	text-align:center;
	display:inline-block;
	color:#333333;
	padding:3px;
	border: 8px inset rgb(138, 183, 221);
	text-decoration:none;
	font-weight: bold;
	}
	.team .member .member-info .btn:hover{
	border: 8px inset rgb(225, 91, 19);
	color:#333333;
	font-weight: bold;
	}  
  .team .member .member-info h1{
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 22px;
	color: black;
  }
   .team .member .member-info span{
	color:#025196;
  }

  .team .member .member-info p span{
	color:black;

  }

/* end leadership .html style*/


/* ccsi_ family*/
.ccsi_famaily_container{
	padding: 10px 0;
	position: relative;
	width: 70%;
	margin: 20px auto 0 auto;
	background-color: #ffffff;
   

}
.section{
	display: flex;
	border-radius: 10px;
	padding:40px;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.37);
}

.section h4 a{
	color:#025196;
	text-decoration: none;
	cursor: pointer;
	font-size: 25px;
	font-weight: 700;
} 

.section h4 a:hover{
	list-style: none;
	color: #025196;
} 

/*end ccsi family*/

/* strart contact design*/ 

.contact .info-box {
	color: #444444;
	text-align: center;
	box-shadow: 1px 1px 1px rgba(214, 215, 216, 0.3);
	padding: 20px 0 30px 0;
  }
  
  .contact .info-box i {
	font-size: 32px;
	color: #106eea;
	border-radius: 50%;
	padding: 8px;
	border: 2px dotted #b3d1fa;
  }
  
  .contact .info-box h3 {
	font-size: 20px;
	color: #777777;
	font-weight: 700;
	margin: 10px 0;
  }
  
  .contact .info-box p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
  }
  
  .contact .php-email-form {
	box-shadow: 1px 1px 1px rgba(214, 215, 216, 0.3);
	padding: 30px;
  }
  
  .contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
	margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
	margin-bottom: 20px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
	border-color: #106eea;
  }
  
  .contact .php-email-form input {
	padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
	padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
	  text-align:center;
		display:inline-block;
		color:#333333;
		padding:3px;
		border: 8px inset rgb(138, 183, 221);
		text-decoration:none;
		font-weight: bold;
  }
  
  .contact .php-email-form button[type=submit]:hover {
	  border: 8px inset #e97775;
		color:#333333;
		font-weight: bold;
  }
  

  /* end contact design*/

  
  @media screen and (max-width:375px){

  .logo { width: 170px;}
  
  

 }
  @media screen and (max-width:414px){
  .logoAndWebsite{
	width: 100%;
	margin: auto;
}

  
  }
  @media screen and (max-width:430px){
  .logo { width: 170px;}

  .logoAndWebsite{
	width: 100%;
	
}
  
}
  @media screen and (max-width:912px){
	.logoAndWebsite{
		width: 100%;
		
	}
  
  }
  

