*{
	margin:0;
	padding:0;
	overflow:inherit;
	box-sizing:border-box;
	font-family: 'lato';
}
p{
    font-size: 20px;
	/* word-spacing: normal; */
	text-align: justify;
	overflow: hidden;	
	color: black;
}

.hr{
	width: 100px;
	height: 3px;
	background-image: linear-gradient(to right,  rgb(235, 101, 29) , white);
	border-radius: 15%;
	margin: 12px auto;
	}

h1,h2,h3,h4,h5{
	letter-spacing: 3px;
	font-family: 'lato';
	text-align: justify;
}


/* public btn for all of page */


/* end public btn for all of page */

  /* header style*/

  .img-fluid{
	width: 100%;
	height: auto;
	}
	.responsive .text h1{
		font-size: 25px;
		font-weight: bold;
		text-align: justify;
		color:#025196;
	}
	.responsive .text{ 
		position: absolute;
		top:400px;
		left: 60px;
   
	  }
	
	@media screen and (max-width:500px){
	.responsive{
		width: 100%;
		display: block;
		}
	.responsive .text{
			position: absolute;
			top:230px;
			width: 100%;
			left: -80px;
		}
	.responsive .text h1{
		display: none;
		font-weight: 300px;
		color: white;
		font-size: 10px;		
	}
	
}

/*our team our family conntact us*/

.responsive .text h2{
	font-size: 50px;
	font-weight: bold;
	text-align: justify;
	color:#025196;
  }
  .responsive .text{ 
	position: absolute;
	top:400px;
	left: 60px;
  
	}
	@media screen and (max-width:500px){
  .responsive{
	  width: 100%;
	  display: block;
	  }
  .responsive .text{
		  position: absolute;
		  top:230px;
		  width: 100%;
		  left: -80px;
	  }
  .responsive .text h2{
	  display: block;
	  font-weight: 300px;
	  color: rgb(138, 183, 221);
	  font-size: 10px;		
  }
  
}

/* navbar section */
.logo { width: 400px;}

	#navbar_top {
		background-color: rgb(248, 248, 248);
	}


	#navbar_top  a{
		color:#025196;
		font-size: large;
		font-weight: bold;
	}
	#navbar_top a.active {
		color: rgb(225, 91, 19);
		
	}
	#navbar_top a:hover {
		color:rgb(105, 157, 201);

	}

/* end navbar section*/


/* index .html*/

/* start about ccsi section  */
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 50px;
    padding-bottom: 3rem;
  }

  .about .row .image-container{
    flex: 1 1 30rem;
    position: relative;
  }

  .about .row .image-container img{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
  }

  .about .row .image-container h3{
    position: absolute;
    top: 35%; 
    font-size: 1.5rem;
    background:rgba(255,255,255, 0.8);
    width: 100%;
    left:0%;
    padding: 1rem 2rem;
    text-align: center;
    color: black;
	font-weight: 900px;
  }
  .about .row .detailsAbout{
    flex: 1 1 20rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: 10px;
  }

  

  @media screen and (max-width:400px){
  .about .row .image-container img{
    box-shadow:none;
    width: 100%;
    border: none;
    border-radius:none;
    box-shadow:none;
  }
 
 }

  .about .row .detailsAbout h3{
    font-size: 3rem;
    color: #333;
    padding: .5rem 3rem;

  }
  .about .row .detailsAbout p{
	font-size: 21px;
	font-weight: 500px;
	color:black;
	text-align: left;
  }

  /* read more p style  */
  ul.a {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 21px;
	font-weight: 500px;
    color: black;
    padding:0 2rem;
    line-height: 1.5em;
    text-align: left
  
}
ul.a li{
	font-size: 21px;
    padding:0 1.5rem;
}
/* read more p style  */


 /* logo and website*/
 .logoAndWebsite{
	width: 50%;
	margin: auto;
	box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
	padding: 50px;
	border-radius: 10px;

  }
.logoAndWebsite p{
	text-align: center;
	color:black;
	font-size: 20px;
	text-align: justify;
	font-family: 'lato';
}
/* end index  html*/


/* start leadership .html style*/
.row{
	margin-top: 30px;
}
a{
	color: #e03a3c;
  }
  a:hover{
	color: #e03a3c;
	text-decoration: none;
  }
  .team .member{
	margin-bottom: 10px;
	overflow: hidden;
	
  }
  .team .member .member-img{
	position: relative;
	overflow: hidden;
  }
  .team .member .social{
	position: absolute;
	left: 0;
	bottom: 30px;
	right: 0;
	opacity: 0;
	transition: ease-in-out 0.3S;
	text-align: center;
  }
  .team .member:hover .social{
	  opacity: 1;
	  bottom: 15px;
  }
 .team .member .social a{
	color: #11111111;
	margin: 0 2px;
	padding-top: 7px;
	border-radius: 50px;
	width: 36px;
	height: 36px;
	background: rgb(225, 91, 19);
	display: inline-block;
	text-decoration: none;
	transition: ease-in-out 0.3s;
	color: #fff;

  } 

 .team .member .social a:hover{
	background-color:#11111111 ;
  }
  .team .member .social i{
	font-size: 18px;
  } 
  .team .member .member-info{
	padding: 25px 2px;
  }

  .team .member .member-info h1{
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 22px;
	color: black;
	letter-spacing:-0.1px;
  }
   .team .member .member-info span{
	font-size: 17px;
	font-weight: 700px;
	color:#025196;
	letter-spacing:-0.2px;
	text-align: left;
  }

  .team .member .member-info p{
	font-size: 17px;
	font-weight: 500px;
	color:black;
	text-align: left;
  }
  .team .member .member-info p .additional-content{
	margin-top: -70px;
  }
 section{
	padding: 60px 0;
	overflow: hidden;
	position: relative;
  }

  .section-bg{
	padding: 120px 0;
	color: #fff;
  }


/* end leadership .html style*/


/* ccsi_ family*/
  
/* # Sections General*/
section {
	padding: 60px 0;
	overflow: hidden;
	
  }
  .section-title p{
	color: black;
	font-size: 19px;
	font-weight: 500;
	margin: auto;
	/* text-align:center; */
	/* word-spacing: -1px; */
  }
  .align-items-stretch{
	background-color: rgb(248, 248, 248);
	border-radius: 10px;
	padding:10px;
	box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.37);
  
  }
 
  .align-items-stretch .icon-box h4 a{
	color:#025196;
	text-decoration: none;
	cursor: pointer;
	font-size: 25px;
	font-weight: 700;
  } 
  .align-items-stretch .icon-box p{
	color: black;
	font-size: 19px;
	font-weight: 500;
	text-align:left;
	/* word-spacing: -1.5px; */
  }
  
  .align-items-stretch .icon-box h4 a:hover{
   list-style: none;
   color: #025196;
	
  } 
/* #  end Sections General*/
  
/*end ccsi family*/



/* star contact .html style*/
.contactsection{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100hv;
	/* background: white; */
   
   }
 

 .containerSection{
	position: relative;
	min-width: 1100px;
	min-height: 550px;
	display: flex;
	z-index: 1000;
	background: #fff; 
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
	} 

   .containerSection .contactInfo{
		position: absolute;
		top: 40px;
		width: 350px;
		height: calc(100% - 80px);
		background: rgb(201, 129, 90);
		z-index: 1;
		padding: 40px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		justify-content: space-between;
		
		-webkit-backdrop-filter: blur(10px);
		border-radius: 20px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
		/* box-shadow: 0 20px 25px rgba(192, 37, 37, 0.15); */
		
   }
   .containerSection .contactInfo h1{
	color: #fff;
   }
   .containerSection .contactForm{
	position: absolute;
	padding: 70px 50px;
	padding-left: 250px;
	margin-left: 150px;
	width: calc(100% - 150px);
	height: 100%;
	background: white;
	overflow-y: hidden;
	background: linear-gradient(135deg,255,255,0.1),rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   } 
   .information{
	color: white;
	text-decoration: none;
   
   
   }
   .information li{
	   padding: 10px 0px;
   }

   .containerSection .contactInfo ul.sci{
	position: relative;
	display: flex;
	text-decoration: none;
	
   }
   .containerSection .contactInfo ul.sci li{
	margin-right: 15px;
	font-size: 40px;
	
   }
   .containerSection .contactInfo ul.sci li a{
	text-decoration: none;
	
   }
   .fa-brands.fa-facebook:hover,
  .fa-brands.fa-twitter:hover,
  .fa-brands.fa-instagram:hover{
  color: #00cde8;
  }
  .fa-brands.fa-facebook,
  .fa-brands.fa-twitter,
  .fa-brands.fa-instagram{
  color: white;
  text-decoration: none;
  }
   .containerSection .contactForm .formBox{
	  position: relative;
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap;
	  padding-top: 30px;
   }
   .containerSection .contactForm .formBox .inputBox{
	position: relative;
	margin-bottom: 35px;
   }
   .containerSection .contactForm .formBox .inputBox.w50{
	  width: 47%;
   }
   .containerSection .contactForm .formBox .inputBox.w100{
	  width: 100%;
   }
   .containerSection .contactForm .formBox .inputBox input,
   .containerSection .contactForm .formBox .inputBox textarea{
	  width: 100%;
	  resize: none;
	  padding: 5px 0;
	  font-size: 18px;
	  font-weight: 300px;
	  color: #333;
	  border: none;
	  outline: none;
	  border-bottom: 1px solid #777;
   }
   .containerSection .contactForm .formBox .inputBox textarea{
	height: 120px;
   }
   .containerSection .contactForm .formBox .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	pointer-events: none;
	font-size: 18px;
	font-weight: 300px;
	transition: 0.3s;
   }
   .containerSection .contactForm .formBox .inputBox input:focus,
   .containerSection .contactForm .formBox .inputBox input:valid ,
   .containerSection .contactForm .formBox .inputBox textarea:focus,
   .containerSection .contactForm .formBox .inputBox textarea:valid{
	  transform: translateX(-20px);
	  font-size: 12px;
	  font-weight: 400;
	  letter-spacing: 1px;
	  color: #095a55;
	  font-weight: 500;
	  margin-left: 30px;

   }
   .containerSection .contactForm .formBox .inputBox input[type="submit"]{
	position: relative;
	cursor: pointer;
	background: #095a55;
	color: #fff;
	border: none;
	max-width: 150px;
	padding: 12px;
   }
   .containerSection .contactForm .formBox .inputBox input[type="submit"]:hover{
	background: #0d948b;
   }

   /* make it responsive */
   @media screen and (max-width: 1024px ){
	.containerSection{
	  width: 90%;
	  min-width: auto;
	  margin: 20px;
	  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
	}
	.feature-image{
	display: none;
		
	  }
	.containerSection .contactInfo{
	  top: 0;
	  height: 500px;
	  position: relative;
	  box-shadow: none;
	}
	.containerSection .contactForm{
	  position: relative;
	  width: calc(100% -350px);
	  padding-left: 0;
	  margin-left: 0;
	  padding: 40px;
	  height: 550px;

	}
   }

   @media screen and (max-width: 991px ){
	.image-section {
		width: 100%;
	}
	.navbar-toggler-icon{
		color: black;
		
	}
	.navbar-toggler{
		color: #025196;
		background-color: black;
		border: 2px solid black;
	}
	#navbar  a{
		color:#4174C0;
	
	  }
	  #navbar a.active {
		color: #0462ef;
		font-weight: bold;
	  }
	  #navbar a:hover {
		color: #0462ef;
	
	  }

	.logoAndWebsite{
		width: 100%;
	}
	section{
	  background: #fff;

	}
	section::before{
		display: none;

	}
	.containerSection{
	  display: flex;
	  flex-direction: column-reverse;
	}
	.containerSection{
	  display: flex;
	  flex-direction: column-reverse;
	}
	.containerSection .contactForm{
	  width: 100%;
	  height: auto;
	}
	.containerSection .contactInfo{
	  width: 100%;
	  height: auto;
	  flex-direction: row;
	}
	.containerSection .contactInfo ul.sci{
	  position: relative;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
   }

   /* footer style*/
footer{
	background-color: rgb(248, 248, 248);
}
.footer-logo{  width:100%;}

/* end footer style*/
   @media screen and (max-width: 600px ){
	
	.logo {
		width: 190px ;
	}	

	  .containerSection .contactForm{
		padding: 25px;
	  }
	  .content {
		display: block;
		width: 100%;
	  }
	  
	.feature-image{
		display: none;
		opacity: 0;
		
	  }
	  .containerSection .contactInfo{
		padding: 25px;
		flex-direction: column;
		align-items: flex-start;
	  }
	  .containerSection .contactInfo ul.sci{
	   margin-top: 40px;
	}
	.containerSection .contactForm .formBox .inputBox.inputBox.w50{
	  width: 100%;
	}

   }

/* end contact .html style*/

 
  @media screen and (max-width: 800px ) {
	.navbar-toggler-icon{
		color: black;
		
	}
	.navbar-toggler{
		color: #025196;
		background-color: black;
		border: 2px solid black;
	}
	#navbar  a{
		color:#4174C0;
	  }

	  #navbar a.active {
		color: #0462ef;
		font-weight: bold;
	  }

	  #navbar a:hover {
		color: #0462ef;
	  }

  }

  @media screen and (max-width: 700px ) {
	.logoAndWebsite{
		width: 100%;
	}


}








